certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_477u68wvzm/croot/certifi_1671487773341/work/certifi
coloredlogs==15.0.1
distro==1.8.0
gast==0.3.3
humanfriendly==10.0
Keras-Preprocessing==1.1.2
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_8cgikbzvtd/croot/numpy_and_numpy_base_1672336184666/work
onnxruntime==1.12.1
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.0
scikit-build==0.16.7
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
